#Logosgohere {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  max-width: 20%;
  float: left;
  clear: left;
}

#Logosgohere > img{
  max-width: 100%;
}

#Logosgohere img {
  flex: 0 1 auto;
  height: 50px;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

#darkModeBtn {
  margin-left: 4rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(109, 140, 180);
}
body.dark {
  background-color: black;
  color: white;
}

h1 {
text-align: center;
font-family: "Arial Black", sans-serif;
font-size: 4.5em;
letter-spacing: -1px;
color: white;
}

h1 span {
  background-color: black;
  border-radius: 30px;
  padding: 15px;
}

#show-data {
  border: solid;
  border-radius: 30px;
  display: block;
  margin: auto;
  position: relative;
  align-items: center;
  width: 35%;
  height: auto;
  float: inline-start;
  text-align: center;
  clear: right;
}

#fight-form {
  margin: 5rem 0;
  width: 300px;
  flex-direction: column;
  padding: 20px;
  font-family: "Arial Black", sans-serif;
  float: right;
  clear: right;
}

input,
textarea {
  font-size: 1rem;
  border: 1px solid black;
  background-color: white;
  padding: 0.5rem;
  margin: 0.25rem 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

input[type="submit"] {
  color: white;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  align-items: center;
  width: 70%;
}

input[type="submit"]:active {
  background-color: gray;
}

select {
  border-radius: 10px;
  width: 40%;
  padding: 10px;
}

/* .teams,
.winner,
#rating-display {
  position: relative;
  float: right;
  clear: right;
  padding: 0.25rem 5rem 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
} */

.fight-winner {
  border-radius: 10px;
  width: 70%;
}

#rating-display {
  bottom: 180px;
  float: right;
  border-radius: 10px
}

.fight-input {
  border-radius: 10px;
  width: 70%;
}

.fight-url {
  border-radius: 10px;
  width: 70%;
}

#twitter {
  float: right;
  position: relative;
  height: auto;
  width: 30%;
  float: right;
  clear: right;

}

